<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datasets">Datasety</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ustawienia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profil</a>
          <a class="dropdown-item" href="#">Prywatność</a>
          <a class="dropdown-item" href="#">Polityka strony</a>
        </div>
      </li>
    </ul>
  </div>
</nav>